.row
  .col-lg-5.col-md-4
    .card.h-90
      .card-body
        h4.card-title
          a(href='#') E2E1 Apps Overview
          table.card-table.table
            thead
              tr
                td(colspan='2') Overall Information
            tr
              th(scope='row') Monitored Applications
              td 10000
            tr
              th(scope='row') No of Application Processes Monitored
              td 10000
            tr
              th(scope='row') No of Application Webservices Monitored
              td 10000
            tr
              th(scope='row') No of Application GUIservices Monitored
              td 10000
            tr
              th(scope='row') Unavailable Services
              td 10000
  .col-lg-5.col-md-4
    .card.h-90
      .card-body
        h4.card-title
          a(href='#') E2E2 Apps Overview
          table.card-table.table
            thead
              tr
                td(colspan='2') Overall Information
            tr
              th(scope='row') Monitored Applications
              td 10000
            tr
              th(scope='row') No of Application Processes Monitored
              td 10000
            tr
              th(scope='row') No of Application Webservices Monitored
              td 10000
            tr
              th(scope='row') No of Application GUIservices Monitored
              td 10000
            tr
              th(scope='row') Unavailable Services
              td 10000
  .col-lg-5.col-md-4
    .card.h-90
      .card-body
        h4.card-title
          a(href='#') E2E1 DB Overview
          table.card-table.table
            thead
              tr
                td(colspan='2') Overall Information
            tr
              th(scope='row') Monitored DBs
              td 10000
            tr
              th(scope='row') No of DB Processes Monitored
              td 10000
            tr
              th(scope='row') No of DB Goldengate Services Monitored
              td 10000
            tr
              th(scope='row') Unavailable DB Services
              td 10000
  .col-lg-5.col-md-4
    .card.h-90
      .card-body
        h4.card-title
          a(href='#') E2E2 DB Overview
          table.card-table.table
            thead
              tr
                td(colspan='2') Overall Information
            tr
              th(scope='row') Monitored DBs
              td 10000
            tr
              th(scope='row') No of DB Processes Monitored
              td 10000
            tr
              th(scope='row') No of DB Goldengate Services Monitored
              td 10000
            tr
              th(scope='row') Unavailable DB Services
              td 10000